In [1]:
import pandas as pd

In [2]:
# pd.read_csv("data.tsv",sep="\t",usecols=[["titleId","title","region","language"]])

In [3]:
data=pd.read_csv("data.tsv",sep="\t")

FileNotFoundError: [Errno 2] No such file or directory: 'data.tsv'

In [6]:
data

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
35009886,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
35009887,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
35009888,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
35009889,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
35009890,tt9916856,2,The Wind,\N,\N,original,\N,1

In [7]:
(data["region"].unique())

array(['UA', 'DE', 'HU', 'GR', 'RU', 'US', '\\N', 'JP', 'FR', 'RO', 'GB',
       'CA', 'PT', 'AU', 'ES', 'FI', 'PL', 'AR', 'RS', 'UY', 'IT', 'BR',
       'DK', 'TR', 'XWW', 'XEU', 'SK', 'CZ', 'SE', 'NZ', 'MX', 'NO',
       'XYU', 'AT', 'VE', 'CSHH', 'SI', 'SUHH', 'IN', 'TW', 'LT', 'NL',
       'CO', 'IR', 'BG', 'SG', 'BE', 'VN', 'HR', 'DZ', 'CH', 'BF', 'PH',
       'XWG', 'HK', 'CN', 'XSA', 'EE', 'IS', 'PR', 'DDDE', 'IL', 'EG',
       'XKO', 'CL', 'IE', 'JM', 'KR', 'PE', 'GE', 'BY', 'BA', 'AE', 'PA',
       'TH', 'ZA', 'TJ', 'XSI', 'MY', 'LV', 'ID', 'PK', 'BD', 'CU', 'AL',
       'BO', 'EC', 'XAS', 'CR', 'PY', 'DO', 'GT', 'SV', 'UZ', 'BUMM',
       'YUCS', 'XPI', 'BJ', 'AZ', 'NG', 'CM', 'MA', 'GL', 'MN', 'LI',
       'LU', 'MZ', 'BM', 'KZ', 'MD', 'LB', 'IQ', 'TM', 'MK', 'TN', 'HT',
       'AM', 'LK', 'ME', 'CG', 'CI', 'SY', 'NP', 'QA', 'TO', 'SN', 'GH',
       'JO', 'KP', 'KG', 'NE', 'GN', 'VDVN', 'TD', 'SO', 'SD', 'MC', 'TT',
       'GA', 'BS', 'LY', 'AO', 'KH', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY',
       'ET', 'GU', 'SR', 'MT', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW',
       'ZM', 'GW', 'DJ', 'RW', 'TZ', 'GI', 'LA', 'SC', 'GP', 'XAU', 'FO',
       'PS', 'ZRCD', 'MO', 'AW', 'KW', 'CV', 'SL', 'SM', 'CD', 'BT', 'LS',
       'HN', 'KE', 'MQ', 'AD', 'ER', nan, 'MM', 'SA', 'CSXX', 'IM', 'XKV',
       'BH', 'BB', 'BZ', 'UG', 'AG', 'NU', 'OM', 'BW', 'LR', 'AN', 'MV',
       'YE', 'GM', 'KY', 'NC', 'DM', 'TL', 'MP', 'VA', 'GQ', 'FJ', 'SZ',
       'RE', 'EH', 'PF', 'VG', 'LC', 'MW', 'BN', 'ST', 'KM', 'FM', 'AI',
       'GD', 'VI', 'SB', 'GF', 'AQ', 'MH', 'CW', 'WS', 'VC', 'AS', 'XNA',
       'MS', 'VU', 'SH', 'KI', 'KN', 'CC', 'GS', 'TV', 'CK', 'PW', 'NR',
       'JE', 'TC'], dtype=object)

In [7]:
data=data[data["region"]=="IN"]

In [8]:
data=data.reset_index(drop=True)

In [9]:
data

,titleId,title,region,language
0,tt0000302,"गोभी की परी, या बच्चों का जन्म",IN,hi
1,tt0000302,"The Cabbage Fairy, or The Birth of Children",IN,en
2,tt0000417,Le Voyage Dans La Lune,IN,en
3,tt0002773,Criminals,IN,en
4,tt0003311,Raja Harishchandra,IN,\N
...,...,...,...,...
4120936,tt9916844,एपिसोड #3.15,IN,hi
4120937,tt9916846,एपिसोड #3.18,IN,hi
4120938,tt9916848,एपिसोड #3.17,IN,hi
4120939,tt9916850,एपिसोड #3.19,IN,hi
4120940,tt9916852,एपिसोड #3.20,IN,hi

In [10]:
mov=pd.read_excel("Bollywood Movies Dataset.xlsx")

In [11]:
mov

,Movie Title,IMDB ID,title,Ratinng,Release Date,Genre,Cast,story,keywords,reviews,age,Review_keywords
0,3 Idiots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Taare Zameen Par,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dangal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang De Basanti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,Mehmaan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,Sorry Daddy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,Raadha Aur Seeta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,Dafaa 302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,Calapor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data[data["title"]=="3 Idiots"]["titleId"].unique()[0]

'tt1187043'

In [13]:
data[data["title"]=="3 Idiots"]["titleId"].unique()[0]

'tt1187043'

In [14]:
from IPython.display import clear_output

In [17]:
sus = 0
err = 0
for i in range(0,len(mov)):
    try:
        mov["IMDB ID"][i]=data[data["title"]==mov["Movie Title"][i]]["titleId"].unique()[0]
        sus = sus+1
    except:
        
        err = err +1
    print("Succcess Rate is  :",round((sus/len(mov))*100,2))
    print("Error    Rate is  :",round((err/len(mov))*100,2))
    print("Completation rate :",round((i/len(mov))*100,2))
    clear_output(wait=True)

Succcess Rate is  : 67.92
Error    Rate is  : 32.07
Completation rate : 99.98

In [16]:
mov

,Movie Title,IMDB ID,title,Ratinng,Release Date,Genre,Cast,story,keywords,reviews,age,Review_keywords
0,3 Idiots,tt1187043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Taare Zameen Par,tt0986264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PK,tt2338151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dangal,tt13142368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang De Basanti,tt0405508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,Mehmaan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,Sorry Daddy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,Raadha Aur Seeta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,Dafaa 302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,Calapor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN